Standard: c++17 
BasedOnStyle: llvm
IndentWidth: 8
UseTab: AlignWithSpaces 
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: None
AlwaysBreakAfterReturnType: AllDefinitions
AlignOperands: DontAlign
AccessModifierOffset: -6
BreakBeforeConceptDeclarations: false
ColumnLimit: 100
AlignEscapedNewlines: DontAlign
IndentPPDirectives: BeforeHash